@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (max-width: 730px) {
    .navbar div{
        display: none;
    }
    .logo{
        margin-left: -7vw;
    }
}

@font-face {
    font-family: "founders-grotesk";
    src: url(./assets/fonts/FoundersGrotesk-Semibold.woff);
}

@font-face {
    font-family: "neue-montreal";
    src: url(./assets/fonts/NeueMontreal-Regular.ttf);
}

.hero_section2>span{
    margin-inline: 5vmin;
}

.cta:hover{
    background-color: rgb(228, 223, 219);
    color: black;
    transition: 0.6s;
    cursor: pointer;
}
.cta:hover + .cta_arrow{
    background-color: rgb(228, 223, 219);
    color: black;
    transition: 0.6s;
}
.cta:not(:hover){
    transition: 0.5s;
}

.cta:not(:hover) + .cta_arrow{
    transition: 0.5s;
}

.img1{
    object-fit: cover;
    object-position: center;
}

.readMore{
    transition: 0.6s;
    cursor: pointer;
}
.read_More{
    transition: 0.6s;
}
.readMore:hover .read_More{
    background-color: black;
    width: 2vw;
    height: 2vw;
}

.featured_btns{
    margin-top: 1vw;
    margin-bottom: 2.5vw;
    align-items: center;
    text-align: center;
}

.featured_btns div{
    position: relative;
    border-radius: 100px;
    border: 1px solid black;
    padding: 0.5vw 1vw;
}

.featured_btns div:hover{
    color: #F1F1F1;
    z-index: 1;
    overflow: hidden;

}
.featured_btns div::before{
    content: "";
    z-index: -11;
    position: absolute;
    transition: 0.4s;
    margin: 0 0 0 -4.4px;
    width: 105%;
    height: 0;
    bottom: -2vw;
    border-radius: 100px;
    --tw-bg-opacity: 1;
    background-color: rgb(39 39 42 / var(--tw-bg-opacity));
}
.featured_btns div:hover::before{
    height: 100%;
    bottom: 0;
}

